body > div.prs_ms_trailer_vid_main_wrapper > div > div > div:nth-child(3) > div > div.prs_ms_trailer_slider_left_wrapper > div > div.owl-stage-outer img{
    min-height: 550px;
}
body > div.prs_vp_main_section_wrapper.prs_about_vp_main_section_wrapper > div > div > div.prs_vp_main_slider_wrapper > div.prs_vp_center_slidebar_wrapper > div > div > div.owl-stage-outer > div > div.owl-item img{
    height: 100%;
}
body > div.prs_patner_main_section_wrapper > div > div > div:nth-child(2) > div > div > div.owl-stage-outer  img
{
    height: 180px;
}
#mobile-nav{
    overflow: visible;
    background: #fff;
    height: 100vh;
}
.st_seat_lay_row .seat_choosing input[type="checkbox"] + label:before {
    background: #eaf109;
}
.st_seat_lay_row .seat_choosing input[type="checkbox"] + label::after{
    background: #ebd90f;
}
body > div.prs_vp_main_section_wrapper > div > div > div.prs_vp_main_slider_wrapper > div.prs_vp_center_slidebar_wrapper > div > div > div.owl-stage-outer img{
    height: 570px;
}
.d-none{
    display: none;
}
